<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/png" href="/static/logo.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class='notice'>
        


    </div>
    <div class="container">
        <h1></h1>
        
        <br><br>
        <b><h2> Ultimate Download Hub -v2.O</h2></b>
            <h3>Author: trfahim</h3>
            <h3>Github:<a href="https://github.com/trfahim">https://github.com/trfahim</a></h3><hr>
            <br><p><h3>Welcome to Ultimate Download Hub 2.O, your one-stop destination for all things entertainment and software!</p></h3>
            <p>Whether you're a gamer, movie enthusiast, or looking for premium software solutions, we’ve got you covered.</p>
            <p><b>At Ultimate Download Hub 2.O, we offer:</b></p>
            
            <p>A wide range of PC Games.</p>
            <p>Premium Software available for free to enhance your productivity.</p>
            <p>Android Games and MOD Apps for an enhanced mobile experience.</p>
            <p>The latest Movies and Series, ready for download to enjoy at your convenience.</p><br><br><hr>
            <b><p>Our goal is to provide easy and fast access to high-quality downloads, ensuring you have everything you need in one place.</p> 
            <p>Whether you're on a computer or mobile, Ultimate Download Hub 2.O is designed for all your downloading needs!</h4></p></b><br><hr>

            <h2>⚠️ Warning ⚠️</h2> <p>Use of this website is at your own risk. Ultimate Download Hub does not guarantee the safety, security,
             or legality of the files available for download. By accessing and using this platform, 
             you acknowledge that you are solely responsible for any actions taken and any consequences that may arise, including potential harm to your device,
              data, or personal information. Proceed with caution.</p><hr>
</header>
</body>
</html>