
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Download Hub</title>
    <link rel="icon" type="image/png" href="/static/logo.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <h1><b>Ultimate Download Hub 2.0</b></h1>
    </div>
<nav>
    <ul>
        <li><a href="/pc-games">PC Games</a></li>
        <li><a href="/android-games">Android Games</a></li>
        <li><a href="/movies">Movies & Series</a></li>
        <li><a href="/software">Premium Software</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/download">Instruction</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<br><br>
<div class="container">
    <div class="options">

        <div class="option">
            <a href="/pc-games">
            <img src="/static/pc_games.jpg" >
            <h3>PC Games Downlaod</h3>
            <button>Click Here</button></a>
        </div>

        <div class="option">
            <a href="/android-games">
            <img src="/static/android.jpg" >
            <h3>Android Games & Mod Apps Download</h3>
            <button>Click Here</button></a>
        </div>

        <div class="option">
            <a href="/movies">
            <img src="/static/movies.jpg" >
            <h3>Movies & Series Downlaod</h3>
            <button>Click Here</button></a>
        </div>

        <div class="option">
            <a href="/software">
            <img src="/static/software.jpg" >
            <h3>Windows Premium Software Free Download</h3>
            <button>Click Here</button></a>
        </div>

        <div class="option">
            <a href="/about">
            <img src="/static/about.jpg" >
            <h3>About</h3>
            <button>Click Here</button></a>
        </div>

        <div class="option">
            <a href="/download">
            <img src="/static/download.jpg" >
            <h3>How to Download</h3>
            <button>Click Here</button></a>
        </div>

    </div>
</div>

</body>
</html>


          
