
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Download Hub</title>
    <link rel="icon" type="image/png" href="/static/logo.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <marquee><h2>| Ultimate Download Hub: Version-2.O | Author: @trfahim | ⚠️ Warning: Use of this website is at your own risk. Ultimate Download Hub does not guarantee the safety, security, or legality of the files available for download. By accessing and using this platform, you acknowledge that you are solely responsible for any actions taken and any consequences that may arise, including potential harm to your device, data, or personal information. Proceed with caution.</h2></marquee>
</header>
<br><br>
<div class="container">
    <div class="options">

        <div class="option">
            <a href="/pc-games">
            <img src="/static/pc_games.jpg" >
            <h3>PC Games Downlaod</h3>
            <button>Click Here</button></a>
        </div>

        <div class="option">
            <a href="/android-games">
            <img src="/static/android.jpg" >
            <h3>Android Games & Mod Apps Download</h3>
            <button>Click Here</button></a>
        </div>

        <div class="option">
            <a href="/movies">
            <img src="/static/movies.jpg" >
            <h3>Movies & Series Downlaod</h3>
            <button>Click Here</button></a>
        </div>

        <div class="option">
            <a href="/software">
            <img src="/static/software.jpg" >
            <h3>Windows Premium Software Free Download</h3>
            <button>Click Here</button></a>
        </div>

        <div class="option">
            <a href="/about">
            <img src="/static/about.jpg" >
            <h3>About</h3>
            <button>Click Here</button></a>
        </div>

        <div class="option">
            <img src="https://via.placeholder.com/200" >
            <h3>SOON....</h3>
            <button>Click Here</button>
        </div>

    </div>
</div>

</body>
</html>


          
