<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downlaod Movies & Series</title>
    <link rel="icon" type="image/png" href="/static/logo.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class='notice'>
        


    </div>
    <div class="container">
        <h1>Download Movies & Series</h1>
        
        <br><br>
        <form method="POST">
            <input type="text" placeholder="Enter Movie/Series Name..." id="movie-name" name="movie-name" required>
            <input type="submit" value="Search">
        </form>
        <br>

        {% if movie_found is not none %}
            {% if movie_found %}
                <div id="result">

                    <h2> Download link--1 ⬇️: </h2>
                     <a href="{{ download_link_1 }}" target="_blank">
                    <button class="open-link-button">{{download_link_1}}</button>   
                    </a>
                    <h2> Download link--2 ⬇️: </h2>
                    <a href="{{ download_link_2 }}" target="_blank">
                    <button class="open-link-button">{{download_link_2}}</button>
                    </a>
                    <h2> Download link--3 ⬇️: </h2>
                    <a href="{{ download_link_3 }}" target="_blank">
                    <button class="open-link-button">{{download_link_3}}</button>
                    </a>
                    <h2> Download link--4 ⬇️: </h2>
                    <a href="{{ download_link_4 }}" target="_blank">
                    <button class="open-link-button">{{download_link_4}}</button>
                    </a>
 
                    
                </div>
            {% else %}
                <div id="result">
                    <h2>Download Link Not Found ❌</h2>
                </div>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>